body {
    padding: 20px;
    background-color: rgb(192, 192, 192);
}
.p20 {
    padding: 20px;
}
  #video {
    visibility: hidden;
  }
  #canvas {
    border-radius: 5px;
    width: 70%;
  }
  .h1 {
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-size: large;
  }