body {
    padding: 20px;
    background-color: rgb(238, 147, 147);
}
.p20 {
    padding: 20px;
}
  #video {
    visibility: hidden;
  }
  #canvas {
    border-radius: 5px;
    width: 70%;
  }
  .h1 {
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
      font-size: large;
  }