body {
    padding: 20px;
    background-color: rgb(211, 176, 156);
}

.p20 {
    padding: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:x-large;
}

.canvasbox {
    border-radius: 3px;
    margin-right: 10px;
    width: 450px;
    height: 338px;
    border-bottom: 3px solid #7b4f80;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
  background: rgb(52, 45, 54);

}

.mb10 {
    margin-bottom: 20px
}

.mt10 {
    margin-top: 20px
}

.updatenote {
    padding: 10px;
    background: rgb(245, 147, 20);
    color: white;
    display: inline;
}

.videobox {
    display:none;
}
.plant {
width: 15%;
}
.can {
    width: 15%;
    display: none;
}
.plant3 {
    width: 15%;
    }